html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

body {
    width: 1024px;
    display: flex;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar {
    background: #1A1A1C;
    width: 60px;
    height: 100%;
    position: relative;
    transition: width .3s;
}

.sidebar.expand {
    width: 150px;
}

.sidebar .logo {
    height: 68px;
}

.sidebar .logo img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin: 10px 6px;
    transition: margin-left .3s;
}

.sidebar.expand .logo img {
    margin-left: 51px;
}

.sidebar .menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    list-style: none;
    display: block;
    height: 40px;
    line-height: 40px;
    width: 100%;
    color: #D5D5D6;
    font-size: 16px;
    overflow: hidden;
}

.menu-item .icon {
    display: inline-block;
    width: 60px;
    text-align: center;
}

.menu-item .icon * {
    vertical-align: middle;
}

.sidebar .menu-item .title {
    display: none;
    margin-left: -13px;
}

.sidebar.expand .menu-item .title {
    display: inline-block;
}

.menu-item.selected {
    color: #FFF;
    background: #0168d3;
}

.menu-item:hover {
    color: #FFF;
    background: #5CA3E3;
}

.menu-item.selected:hover {
    background: #ADC7E2;
}

.menu-icon {
    font-size: 24px;
}

.bottom {
    position: absolute;
    left: 0;
    bottom: 0;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* tab */
.tab {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 35px;
    background: #313949;
    /* 消除inline-block间距 */
    font-size: 0; -webkit-text-size-adjust:none;
}

.tab-item {
    display: inline-block;
    height: 35px;
    background: #575E6B;
    border-radius: 2px 2px 0 0;
    cursor: pointer;
    margin-right: 3px;
    font-size: 18px;
}

.tab-item.selected {
    background: #FFF;
}

.tab-item * {
    vertical-align: middle;
}

.tab-item .title {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
    max-width: 160px;
    /* 超出部分省略号 */
    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}

.tab-item .icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    text-align: center;
    margin-left: -10px;
}

.tab-item.new .icon {
    margin-left: 0;
}

.tab-item .icon * {
    vertical-align: middle;
}

.main-content {
    flex-grow: 1;
    background: #dde6ed;
}

/* 主页 */
.placeholder {
    height: 40px;
}

.topic-item {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    background: #fff;
    margin-bottom: 2px;
    border-right: 1px solid #dde6ed;
}

.avator img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.topic {
    flex-grow: 1;
    padding-left: 25px;
}

.topic .title {
    margin: 5px 0 10px 0;
}

.topic .status-item {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
    color: #a9b8c6;
}

.status-item * {
    vertical-align: middle;
}

.status-item.answer-not-zero {
    color: #ff6a65;
}

.status-item.view-not-zero {
    color: #1eb2eb;
}

.status-item .num {
    margin-left: 8px;
    margin-right: 5px;
    font-style: normal;
}

.topic .status, .topic .tags {
    margin-bottom: 10px;
}

.tags {
    color: #b1becc;
}

.tag-item {
    display: inline-block;
    font-size: 12px;
    background: #fff4de;
    padding: 5px 8px;
    border-radius: 2px;
    border: 1px solid #ffebbe;
    color: #cab685;
    margin-right: 5px;
}

.tags .time {
    font-size: 12px;
    float: right;
    margin-right: 10px;
}