// 颜色变量
// 主色
$light-blue: #58B7FF;
$blue: #20A0FF;
$dark-blue: #1D8CE0;
// 辅助色
$success: #13CE66;
$warning: #F7BA2A;
$danger: #FF4949;
// 中性色
$black: #1F2D3D;
$light-black: #324057;
$extra-light-black: #475669;

$silver: #8492A6;
$light-silver: #99A9BF;
$extra-light-silver: #C0CCDA;

$gray: #D3DCE6;
$light-gray: #E5E9F2;
$extra-light-gray: #EFF2F7;

$dark-white: #F9FAFC;
$white: #FFFFFF;

$rem: 10px;

// reset
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

html {
    font-size: 12px;
}

body {
    font-size: 1.6 * $rem;
    font-family: Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, sans-serif;
    color: #1f2d3d;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

// 文字大小
.h1 {
    font-size: 2 * $rem;
}

.h2 {
    font-size: 1.8 * $rem;
}

.h3 {
    font-size: 1.6 * $rem;
}

.text-regular {
    font-size: 1.4 * $rem;
}

.text-small {
    font-size: 1.3 * $rem;
}

.text-smaller {
    font-size: 1.2 * $rem;
}

// TODO 文字组合


// 按钮
.btn {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: $white;
    border: 1px solid #bfcbd9;
    color: $black;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 1 * $rem 1.5 * $rem;
    font-size: 1.4 * $rem;
    border-radius: .2 * $rem;
    
    box-shadow: .2 * $rem .2 * $rem .1 * $rem #dde;

    &.disabled,
    &[disabled],
    &:hover.disabled,
    &:hover[disabled] {
        color: #bfcbd9;
        cursor: not-allowed;
        background-image: none;
        background-color: #eef1f6;
        border-color: #d1dbe5;
    }

    .icon + span {
        margin-left: .5 * $rem;
    }
}

.btn + .btn {
    margin-left: 1 * $rem;
}

.btn-large {
    padding: 1.1 * $rem 1.9 * $rem;
    font-size: 1.6 * $rem;
}

.btn-small {
    padding: .7 * $rem .9 * $rem;
    font-size: 1.2 * $rem;
} 

.btn-mini {
    padding: .4 * $rem;
    font-size: 1.2 * $rem;
}

.btn-default {
    &.disabled,
    &[disabled],
    &:hover.disabled,
    &:hover[disabled] {
        background-color: $white;
        border-color: #d1dbe5;
        color: #bfcbd9;
    }

    &:hover {
        color: $blue;
        border-color: $blue;
    }

    &:active {
        color: #1d90e6;
        border-color: #1d90e6;
    }
}

.btn-primary {
    color: $white;
    background: $blue;
    border-color: $blue;

    &:hover {
        background: #4db3ff;
        border-color: #4db3ff;
    }

    &:active {
        background: #1d90e6;
        border-color: #1d90e6;
        color: $white;
    }
}

.btn-text {
    border: none;
    color: $blue;
    background: transparent;
    padding-left: 0;
    padding-right: 0;

    box-shadow: none;

    &.disabled,
    &[disabled],
    &:hover.disabled,
    &:hover[disabled] {
        background-color: transparent;
    }

    &:hover {
        color: #4db3ff;
    }

    &:active {
        color: #1d90e6;
    }
}

.btn-success {
    color: $white;
    background-color: $success;
    border-color: $success;

    &:hover {
        background: #42d885;
        border-color: #42d885;
    }

    &:active {
        background: #11b95c;
        border-color: #11b95c;
    }
}

.btn-warning {
    color: $white;
    background-color: $warning;
    border-color: $warning;

    &:hover {
        background: #f9c855;
        border-color: #f9c855;
    }

    &:active {
        background: #dea726;
        border-color: #dea726;
    }
}

.btn-danger {
    color: $white;
    background-color: $danger;
    border-color: $danger;

    &:hover {
        background: #ff6d6d;
        border-color: #ff6d6d;
    }

    &:active {
        background: #e64242;
        border-color: #e64242;
    }
}

.btn-info {
    color: $white;
    background-color: #50bfff;
    border-color: #50bfff; 

    &:hover {
        background: #73ccff;
        border-color: #73ccff;
    }

    &:active {
        background: #48ace6;
        border-color: #48ace6;
    }
}

// 输入框
.input {
    outline: none;
    -webkit-appearance: none;
    background-color: $white;
    background-image: none;
    border: 1px solid #bfcbd9;
    border-radius: .2 & $rem;
    box-sizing: border-box;
    color: #1f2d3d;
    display: block;
    font-size: inherit;

    height: 3.6 * $rem;
    line-height: 1;
    padding: .3 * $rem 1 * $rem;

    transition: border-color .2s cubic-bezier(.645,.045,.355,1);

    &:hover {
        border-color: #8391a5;
    }

    &:focus {
        border-color: #20a0ff;
    }
}