.login-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.login-logo {
    text-align: center;
}

.login-logo img {
    margin: 50px 0 30px 0;
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.login-logo p {
    margin-bottom: 60px;
    font-size: 20px;
    color: #838383;
}

.login-form {
    margin: auto;
    width: 90%;
}

.login-form input[type=password] {
    width: 100%;
    margin-bottom: 20px;
}

.login-form button {
    width: 100%;

    font-size: 20px;
    padding: 13px;
    margin-bottom: 10px;
}

.login-desc {
    position: absolute;
    bottom: 20px;
    width: 100%;

    text-align: center;
    font-size: 14px;
    color: #aab9c7;
    line-height: 18px;
}

.login-form-input {
    position: relative;
    height: 40px;

    margin-bottom: 20px;
}

.login-form-input label {
    position: absolute;
    left: 0;
    top: 0;

    height: 40px;
    line-height: 40px;
    width: 20px;

    color: #aab9c7;
    font-size: 20px;
}

.login-form-input input {
    border: none;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    padding-left: 30px;
}

.login-form-help {
    font-size: 14px;
}

.login-form-help label {
    color: #838383;
    cursor: pointer;
    user-select: none;
}

.login-form-help label input[type=checkbox] {
    cursor: pointer;
}

.login-form-help a {
    color: #4f6aec;
    text-decoration: none;
    float: right;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}