body {
    display: flex;
    border: 1px solid #ccc;

    > .sidebar {
        width: 50px;
        flex-shrink: 0;
        background: #7a8fdf;
        box-shadow: 5px 0 5px #bfc8ec;
        position: relative;

        .logo {
            height: 50px;
            background: #8194e0;

            img {
                height: 40px;
                width: 40px;
                margin-left: 5px;
                margin-top: 5px;

                border-radius: 50%;
                cursor: pointer;
            }
        }

        .menu-list {
            .menu-item {
                height: 40px;
                line-height: 40px;
                width: 100%;

                color: #fff;
                font-size: 20px;
                text-align: center;
                color: #b6c1ed;
                cursor: pointer;
            }
        }

        .setting {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 40px;
            line-height: 40px;
            width: 100%;

            color: #fff;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
        }
    }
        
    .container {
        flex-grow: 1;
    }

    .main {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        > .top-navbar {
            flex-shrink: 0;
            height: 40px;
            background: #fff;
            box-shadow: 0 3px 3px #bfc8ec;
            position: relative;

            .tabs {
                position: absolute;
                top: 0;
                left: 0;

                height: 100%;
                line-height: 40px;
                margin-left: 15px;
                font-size: 14px;
                color: #909090;

                .tab-item {
                    box-sizing: border-box;
                    padding-right: 10px;
                    border-right: 1px solid #eaeaea;
                    cursor: pointer;

                    &:not(:first-child) {
                        margin-left: 8px;
                    }

                    &:last-child {
                        border-right: none;
                    }

                    &.selected {
                        color: #007fff;
                    }

                    &:hover {
                        color: #007fff;
                    }
                }
            }

            .options {
                position: absolute;
                right: 0;
                top: 0;

                height: 100%;
                line-height: 40px;
                margin-right: 15px;
                font-size: 24px;

                .option-item {
                    color: #bddae0;
                    display: inline-block;
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
        }

        > .content {
            flex-grow: 1;
            overflow-y: auto;
        }
    }
}

.panel {
    width: 96%;
    margin: 10px auto;
}

.list {
    .item {
        background: #fff;
        margin-bottom: 5px;
        width: 100%;
        min-height: 100px;
        box-shadow: 1px 1px 1px #ccc;
        
        display: flex;

        &:hover {
            box-shadow: 2px 2px 2px #ccc;
        }

        > .item-left-part {
            width: 58px;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-left: 15px;
            padding-top: 10px;

            > img {
                height: 48px;
                width: 48px;
                border-radius: 50%;
                cursor: pointer;
            }
        }

        > .item-right-part {
            flex-grow: 1;
            position: relative;
            box-sizing: border-box;
            padding-left: 15px;
            padding-top: 10px;
            padding-right: 15px;
        }
    }
}

.item-right-part {
    > .title {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 500;
        color: #615b5b;
        cursor: pointer;
    }
        
    > .status {
        margin-bottom: 10px;
        font-size: 14px;
        color: #01aaea;
        font-weight: 300;

        .status-item {
            margin-right: 20px;
            cursor: pointer;
        }

        em {
            font-style: normal;
        }
    }
    
    > .tags {
        margin-bottom: 10px;
        .tag-item {
            font-size: 12px;
            font-weight: 500;
            color: #c8b383;
            display: inline-block;
            background: #fff4de;
            padding: 2px 4px;
            border: 1px solid #ffe9b2;
            border-radius: 2px;
            cursor: pointer;
            margin-right: 3px;

            &.special {
                background: #80bd01;
                color: #fff;
                border-color: #afd06b;
            }
        }
    }
    
    > .date {
        position: absolute;
        right: 15px;
        bottom: 10px;
        font-size: 14px;
        color: #bec8d3;
        font-weight: 300;
    }
}