.part {
    background: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #ccc;
    padding: 20px 10px;
    margin-bottom: 10px;
}

.topic-header {
    display: flex;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;

    .user-avator {
        flex-basis: 60px;
        flex-grow: 0;
        flex-shrink: 0;

        img {
            height: 60px;
            width: 60px;
            border-radius: 50%;
        }
    }

    .topic-info {
        padding-left: 10px;
        width: 100%;
        
        .topic-info-title {
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 600;
        }

        .topic-info-state {
            font-size: 14px;
            color: #acb6b7;
            margin-bottom: 10px;
            font-weight: 300;

            a {
                color: #6ac5e6;
                text-decoration: none;
            }
        }

        .topic-info-active {
            position: relative;
            margin-bottom: 10px;
            .topic-info-tabs {
                span {
                    font-size: 12px;
                    font-weight: 500;
                    color: #c8b383;
                    display: inline-block;
                    background: #fff4de;
                    padding: 2px 4px;
                    border: 1px solid #ffe9b2;
                    border-radius: 2px;
                    cursor: pointer;
                    margin-right: 3px;
                }
            }

            .topic-info-opts {
                position: absolute;
                font-size: 14px;
                top: 0;
                right: 10px;

                color: #999;

                span {
                    margin-left: 10px;
                }
            }
        }
    }
}

.reply-header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

.reply-list {
    .reply-item {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px dashed #ccc;

        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .reply-item-content {
            margin-bottom: 10px;
        }

        .reply-item-info {
            font-size: 14px;
            color: #acb6b7;
            
            div * {
                vertical-align: middle;
            }

            img {
                height: 30px;
                width: 30px;
                border-radius: 50%;
            }
        }
    }
}

.reply-bottom {
    margin-top: 10px;
    text-align: right;
}

.form-group {
    margin-bottom: 15px;
    .form-group-label {
        margin-bottom: 5px;
        font-size: 16px;
        color: #acb6b7;

        .require {
            color: red;
        }
    }

    .form-group-input {
        
    }
}