<!-- 主题列表: 结构 -->
<div class="panel">
    <div class="list">
        <div class="item" ng-repeat="topic in topicList">
            <div class="item-left-part">
                <img ng-src="{{topic.author.avatar_url}}">
            </div>
            <div class="item-right-part">
                <p class="title" ng-bind="topic.title"></p>
                <div class="status">
                    <span class="status-item">
                        <i class="fa fa-envelope-o"></i>
                        <em ng-bind="topic.reply_count"></em>
                        <span>Replies</span>
                    </span>
                    <span class="status-item">
                        <i class="fa fa-eye"></i>
                        <em ng-bind="topic.visit_count"></em>
                        <span>Views</span>
                    </span>
                </div>
                <div class="tags">
                    <span class="tag-item">招聘</span>
                    <span class="tag-item">问答</span>
                </div>
                <span class="date">
                    23h ago
                </span>
            </div>
        </div>
    </div>
</div>