<div class="main">
    <div class="top-navbar"></div>
    <div class="content">
        <div class="panel" style="background:#fff;">
            <div class="user-info">
                <div class="user-info-avatar">
                    <img src="https://avatars.githubusercontent.com/u/13051135?v=3&s=180" alt="">
                </div>
                <div class="user-info-desc">
                    <p class="title">P-ppc</p>
                    <p class="sub-title">Member since 2016-08-26</p>
                    <p class="sub-title">
                        <i class="fa fa-github"></i>
                        @P-ppc
                    </p>
                </div>
            </div>
            <div class="user-tab">
                <ul class="user-tab-header">
                    <li class="selected">
                        <p class="value">50000000000</p>
                        <p class="desc">最近回复</p>
                    </li>
                    <li>
                        <p class="value">5</p>
                        <p class="desc">最近创建</p>
                    </li>
                    <li>
                        <p class="value">5</p>
                        <p class="desc">未读信息</p>
                    </li>
                    <li>
                        <p class="value">0</p>
                        <p class="desc">已读信息</p>
                    </li>
                    <li>
                        <p class="value">300</p>
                        <p class="desc">积分</p>
                    </li>
                </ul>
                <div class="user-tab-content"></div>
            </div>
        </div>
    </div>
</div>