<div class="main" ng-controller="topicInfoCtrl">
    <div class="top-navbar"></div>
    <div class="content">
        <div class="panel">
            <div class="part">
                <div class="topic-header">
                    <div class="user-avator">
                        <img ng-src="{{topicInfo.author.avatar_url | imgFix}}">
                    </div>
                    <div class="topic-info">
                        <p class="topic-info-title" ng-bind="topicInfo.title"></p>
                        <div class="topic-info-state">
                            <span>由 <a href="#" ng-bind="topicInfo.author.loginname"></a> 发布于 <span ng-bind="topicInfo.create_at | fromNow"></span></span>
                            <span style="display: none;">上一次编辑于 <span>Some date</span></span>
                            <span>共 <span ng-bind="topicInfo.visit_count"></span> 次浏览</span>
                        </div>
                        <div class="topic-info-active">
                            <div class="tags">
                                <span class="tag-item special" ng-if="topicInfo.top">置顶</span>
                                <span class="tag-item special" ng-if="topicInfo.good">精华</span>
                                <span class="tag-item" ng-if="topicInfo.tab != undefined && topicInfo.tab != ''" ng-bind="topicInfo.tab | topicTabFormatter"></span>
                            </div>
                            <div class="topic-info-opts">
                                <button class="btn btn-mini no-shadow"
                                    ng-class="{true: 'btn-success', false: 'btn-primary'}[topicInfo.is_collect]"
                                    m-button-loading
                                    m-loading="busy"
                                    m-loading-class="btn-loading"
                                    ng-click="toggleCollect()">
                                    <i class="fa" ng-class="{true: 'fa-star', false: 'fa-star-o'}[topicInfo.is_collect]"></i>
                                    <span ng-bind="{true: '已收藏', false: '收藏'}[topicInfo.is_collect]"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topic-content" ng-bind-html="topicInfo.content | pretty">
                </div>
            </div>
            <div class="part">
                <div class="reply-header">
                    <h4><span ng-bind="topicInfo.reply_count"></span> 回复</h4>
                </div>
                <div class="reply-list">
                    <div class="reply-item" ng-repeat="reply in topicInfo.replies">
                        <p class="reply-item-content" ng-bind-html="reply.content | pretty"></p>
                        <div class="reply-item-bottom">
                            <div class="reply-item-bottom-info">
                                <span>由</span>
                                <img ng-src="{{reply.author.avatar_url | imgFix}}">
                                <span>
                                    <span ng-bind="reply.author.loginname"></span>
                                    回复于 <span ng-bind="reply.create_at | fromNow"></span>
                                </span>
                                <div class="reply-item-bottom-actions">
                                    <button class="btn btn-text reply-item-bottom-actions-item"
                                        ng-class="{normal: !reply.is_uped}"
                                        ng-click="toggleReplyUp(reply)"
                                        m-hover-popup="{{reply.is_uped? '取消点赞' : '点赞'}}"
                                        m-hover-popup-padding-bottom="10px">
                                        <i class="fa"
                                            ng-class="{true: 'fa-thumbs-up', false: 'fa-thumbs-o-up'}[reply.is_uped]"></i>
                                        <span ng-bind="reply.ups.length"></span>
                                    </button>
                                    <button class="btn btn-text btn-small reply-item-bottom-actions-item"
                                        ng-click="toggleReplyForm(reply)">
                                        <i class="fa fa-envelope-o"></i>
                                        <span>回复</span>
                                    </button>
                                </div>
                            </div>
                            <div class="reply-item-bottom-form">
                                <textarea></textarea>
                                <button class="btn btn-text btn-mini normal">取消</button>
                                <button class="btn btn-primary btn-mini">提交回复</button>
                                <button class="btn btn-text btn-mini normal use-markdown">使用MarkDown编辑器</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="part">
                <div class="reply-header">
                    <h4>你的回复</h4>
                </div>
                <div class="reply-editor" m-editor ng-model="replyParams.content">
                </div>
                <div class="reply-bottom">
                    <button class="btn btn-primary" ng-click="reply()"
                        ng-disabled="!replyParams.content"
                        m-button-loading
                        m-loading="replyBusy"
                        m-normal-text="提交回复"
                        m-loading-text="回复中..."
                        m-loading-class="btn-loading"></button>
                </div>
            </div>
        </div>
    </div>
</div>