<div class="main" ng-controller="userInfoCtrl">
    <div class="top-navbar"></div>
    <div class="content">
        <div class="panel" style="background:#fff;">
            <div class="user-info">
                <div class="user-info-avatar">
                    <img ng-src="{{userInfo.avatar_url}}">
                </div>
                <div class="user-info-desc">
                    <p class="title" ng-bind="userInfo.loginname"></p>
                    <p class="sub-title">Member since <span ng-bind="userInfo.create_at | date"></span></p>
                    <p class="sub-title">
                        <i class="fa fa-github"></i>
                        @<span ng-bind="userInfo.loginname"></span>
                    </p>
                </div>
            </div>
            <div class="user-tab">
                <ul class="user-tab-header">
                    <li ng-class="{selected: selectedTab == 'CREATE' }" ng-click="selectTab('CREATE')">
                        <p class="value" ng-bind="userInfo.recent_topics.length"></p>
                        <p class="desc">最近创建</p>
                    </li>
                    <li ng-class="{selected: selectedTab == 'REPLY' }" ng-click="selectTab('REPLY')">
                        <p class="value" ng-bind="userInfo.recent_replies.length"></p>
                        <p class="desc">最近回复</p>
                    </li>
                    <li ng-class="{selected: selectedTab == 'UNREAD' }" ng-click="selectTab('UNREAD')" 
                        ng-if="userInfo.isSelf">
                        <p class="value" ng-bind="userInfo.unReadMessages.length"></p>
                        <p class="desc">未读信息</p>
                    </li>
                    <li ng-class="{selected: selectedTab == 'HASREAD' }" ng-click="selectTab('HASREAD')"
                        ng-if="userInfo.isSelf">
                        <p class="value" ng-bind="userInfo.hasReadMessages.length"></p>
                        <p class="desc">已读信息</p>
                    </li>
                    <li>
                        <p class="value" ng-bind="userInfo.score"></p>
                        <p class="desc">积分</p>
                    </li>
                </ul>
                <div class="user-tab-content-wrapper">
                    <div class="user-tab-content active" ng-show="selectedTab == 'CREATE'">
                        <div class="topic-item" ng-repeat="item in userInfo.recent_topics">
                            <p class="title">
                                <a ui-sref="main.topicInfo({topicId: item.id})" ng-bind="item.title"></a>
                            </p>
                            <div class="info">
                                最后回复于 <span ng-bind="item.last_reply_at | fromNow"></span>
                            </div>
                        </div>
                        <div class="topic-item last">
                            <hr class="split">
                            <div class="desc">没有更多了</div>
                        </div>
                    </div>
                    <div class="user-tab-content active" ng-show="selectedTab == 'REPLY'">
                        <div class="topic-item flex" ng-repeat="item in userInfo.recent_replies">
                            <div class="left-part">
                                <a ui-sref="main.userInfo({ loginname: item.author.loginname })">
                                    <img ng-src="{{item.author.avatar_url}}">
                                </a>
                            </div>
                            <div class="right-part">
                                <p class="title">
                                    <a ui-sref="main.topicInfo({topicId: item.id})" ng-bind="item.title"></a>
                                </p>
                                <div class="info">
                                    最后回复于 <span ng-bind="item.last_reply_at | fromNow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="topic-item last">
                            <hr class="split">
                            <div class="desc">没有更多了</div>
                        </div>
                    </div>
                    <div class="user-tab-content active" ng-show="selectedTab == 'UNREAD'">
                        <div class="message-item" ng-repeat="item in userInfo.unReadMessages">
                            <div class="user-info">
                                <div class="left-part">
                                    <a ui-sref="main.userInfo({ loginname: item.author.loginname })">
                                        <img ng-src="{{item.author.avatar_url}}">
                                    </a>
                                </div>
                                <div class="right-part">
                                    <p class="user-name" ng-bind="item.author.loginname"></p>
                                    <p class="topic-title">
                                        <a ui-sref="main.topicInfo({topicId: item.topic.id})" ng-bind="item.topic.title"></a>
                                    </p>
                                </div>
                            </div>
                            <p class="desc" ng-bind="item.reply.content"></p>
                            <div class="info">
                                回复于<span ng-bind="item.reply.create_at | fromNow"></span>
                            </div>
                        </div>
                        <div class="topic-item last">
                            <hr class="split">
                            <div class="desc">没有更多了</div>
                        </div>
                    </div>
                    <div class="user-tab-content active" ng-show="selectedTab == 'HASREAD'">
                        <div class="message-item" ng-repeat="item in userInfo.hasReadMessages">
                            <div class="user-info">
                                <div class="left-part">
                                    <a ui-sref="main.userInfo({ loginname: item.author.loginname })">
                                        <img ng-src="{{item.author.avatar_url}}">
                                    </a>
                                </div>
                                <div class="right-part">
                                    <p class="user-name" ng-bind="item.author.loginname"></p>
                                    <p class="topic-title">
                                        <a ui-sref="main.topicInfo({topicId: item.topic.id})" ng-bind="item.topic.title"></a>
                                    </p>
                                </div>
                            </div>
                            <p class="desc" ng-bind="item.reply.content"></p>
                            <div class="info">
                                回复于<span ng-bind="item.reply.create_at | fromNow"></span>
                            </div>
                        </div>
                        <div class="topic-item last">
                            <hr class="split">
                            <div class="desc">没有更多了</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>