<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="../style/core.css">
</head>
<body>
<div class="page-login">
    <div class="page-logo">
        <a href="#" class="brand">
            <img src="../img/cnodejs.svg">
        </a>
    </div>
    <div class="page-body">
        <div class="login-head">
            Login
        </div>
        <div class="login-body">
            <form class="login-form">
                <h4>Access Token</h4>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Access Token" id="accessToken">
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success" id="loginSubmit">LOGIN</button>
                </div>
            </form>
        </div>
        <div class="login-bottom">
            <a href="#">怎么获取Access Token?</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script type="text/javascript" src="../lib/storage.js"></script>
<script type="text/javascript" src="../lib/login.js"></script>

<script type="text/javascript">
    LOGIN.initPage();
</script>
</body>
</html>