<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>主题详情</title>
    <link rel="stylesheet" type="text/css" href="../style/core.css">
    <link rel="stylesheet" type="text/css" href="../lib/code-prettify/prettify.css">
    <link rel="stylesheet" type="text/css" href="../lib/editor/editor.css">
</head>
<body>
<div class="page-container">
    <!-- nav导航 -->
    <div class="navbar">
        <div class="nav-container">
            <!-- logo -->
            <a href="index.html" class="logo">
                <img src="../img/cnodejs_light.svg">
            </a>
            <!-- 导航链接 -->
            <ul>
                <li><a href="index.html">首页</a></li>
                <li><a href="message.html">未读消息<span class="unread-message js-unReadMessage">0</span></a></li>
                <li><a href="userInfo.html">我的信息</a></li>
                <li><a href="collection.html">收藏夹</a></li>
                <li><a href="createTopic.html">创建话题</a></li>
                <li><a href="#" id="logout">退出</a></li>
            </ul>
        </div>
    </div>

    <!-- 内容 -->
    <div class="main clearfix">
        <!-- 左边内容区 -->
        <div class="left-wrap">
            <div class="topic">
                <!-- 导航区: 如主页/问答 -->
                <div class="header">
                    <ul class="breadcrumb">
                        <li>
                            <a href="index.html">主页</a>
                            <span class="divider">/</span>
                        </li>
                        <li class="active">
                            主题详情
                        </li>
                    </ul>
                </div>
                <!-- 主题区 -->
                <div id="topicContent">
                </div>
            </div> 
            <!-- 回复区 -->
            <div id="replyContent">
            </div>
            <!-- 新建回复区 -->
            <div id="reply">
                <div class="header">
                    <span>添加回复</span>
                </div>
                <div class="reply-form">
                    <textarea id="replyArea"></textarea>
                    <div class="reply-btns">
                        <input type="submit" name="" id="replyBtn">
                    </div>
                </div>
            </div>
        </div>
        <!-- 右边信息区: 作者的信息, 包含最近创建的主题, 最近回复的主题 -->
        <div class="right-wrap">
            <div class="wrap" id="author">
            </div>
        </div>
    </div>
</div>

<!-- 底部信息 -->
<div class="footer">
    <div class="footer-main">
        <div class="links">
            <a href="#" class="dark">RSS</a>
            |
            <a href="#" class="dark">源码地址</a>
        </div>
        <div class="col-fade">
            <p>CNode 社区为国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>
            <p>服务器赞助商为
                <a href="http://www.ucloud.cn/?utm_source=zanzhu&utm_campaign=cnodejs&utm_medium=display&utm_content=yejiao&ytag=cnodejs_logo" target="_blank" class="sponsor_outlink" data-label="ucloud_bottom">
                    <img src="https://dn-cnode.qbox.me/FuIpEaM9bvsZKnQ3QfPtBHWQmLM9" title="ucloud" alt="ucloud" width="92px">
                </a>
                ，存储赞助商为
                <a href="http://www.qiniu.com/?ref=cnode" target="_blank" class="sponsor_outlink" data-label="qiniu_bottom">
                    <img src="https://dn-cnode.qbox.me/Fg0jtDIcTqVC049oVu5-sn6Om4NX" title="七牛云存储" alt="七牛云存储" width="115px">
                </a>
                ，由
                <a href="https://alinode.aliyun.com/?ref=cnode" target="_blank" class="sponsor_outlink" data-label="alinode_bottom">
                    <img src="https://dn-cnode.qbox.me/FpMZk31PDyxkC8yStmMQL4XroaGD" title="alinode" alt="alinode" height="54px" width="166px">
                </a>
                提供应用性能服务。
            </p>
            <p>新手搭建 Node.js 服务器，推荐使用无需备案的 <a href="https://www.digitalocean.com/?refcode=eba02656eeb3">DigitalOcean(https://www.digitalocean.com/)</a></p>
        </div>
    </div>
</div>

<!-- template -->
<!-- 主题模板 -->
<script type="text/html" id="topicTemplate">
<div class="topic-info">
    <div class="title">
        {{if data.top}}
            <span class="title-tab spe">置顶</span>
        {{else if data.good}}
            <span class="title-tab spe">精华</span>
        {{else}}
            <span class="title-tab">{{data.tab | tabMap}}</span>
        {{/if}}
        <span class="title-text">{{data.title}}</span>
        {{if data.is_collect}}
            <input type="submit" name="" value="取消收藏" id="collect" class="collect collect-cancel" data-collectFlag="1">
        {{else}}
            <input type="submit" name="" value="收藏" id="collect" class="collect"
             data-collectFlag="0">
        {{/if}}
    </div>
    <!-- 相关信息 -->
    <div class="sub-info">
        <span>发布时间：<em>{{data.create_at | timeSep}}</em></span>
        <span>作者：<em>{{data.author.loginname}}</em></span>
        <span>浏览量：<em>{{data.visit_count}}</em></span>
        <span>上一次修改：<em>{{data.last_reply_at | timeSep}}</em></span>
    </div>
</div>
<!-- 内容区 -->
 <div class="inner topic">
    <div class="topic_content">
        {{#data.content}}
    </div>
</div>
</script>

<!-- 回复模板 -->
<script type="text/html" id="replyTemplate">
<div class="header">
    <span>{{data.reply_count}} 回复</span>
</div>
<div class="reply-list">
{{each data.replies as value i}}
    <div class="reply">
        <div class="reply-info">
            <a class="anchor" id={{value.id}}></a>
            <img src="{{value.author.avatar_url | avatar}}" class="js-userInfoLink" data-loginName="{{value.author.loginname}}">
            <a href="#{{value.id}}" class="js-userInfoLink" data-loginName="{{value.author.loginname}}">{{value.author.loginname}}</a>
            <span>{{i + 1}}楼</span>
            <span>{{value.create_at | timeSep}}</span>
            <span class="reply-at js-replyAt" data-author="{{value.author.loginname}}" data-replyId="{{value.id}}">回复</span>
        </div>
        <div class="reply-content">
            {{#value.content}}
        </div>
    </div>        
{{/each}}
</div>
</script>

<!-- 作者信息模板 -->
<script type="text/html" id="authorTemplate">
<div class="author">
    <div class="header">
        <span>作者</span>
    </div>
    <div class="author-info">
        <div class="line">
            <!-- 头像 -->
            <a href="#" class="js-userInfoLink" data-loginName="{{data.loginname}}">
                <img src="{{data.avatar_url}}">
            </a>
            <!-- 用户名 -->
            <a href="#" class="js-userInfoLink" data-loginName="{{data.loginname}}"><span>{{data.loginname}}</span></a>
        </div>
        <!-- 积分 -->
        <div class="line">
            <span>积分：</span><em>{{data.score}}</em>
        </div>
    </div>
</div>
<div class="last-topic">
    <div class="header">
        <span>作者其他话题</span>
    </div>
    <div class="title-list">
        <ul>
            {{each data.recent_topics as value i}}
            <li>
                <div>
                    <a href="#" data-id="{{value.id}}" class="topic-link">{{value.title}}</a>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="last-reply">
    <div class="header">
        <span>作者最近回复话题</span>
    </div>
    <div class="title-list">
        <ul>
            {{each data.recent_replies as value i}}
            <li>
                <div>
                    <a href="#" data-id="{{value.id}}" class="topic-link">{{value.title}}</a>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
</script>

<script type="text/javascript" src="../lib/jquery.min.js"></script>

<script type="text/javascript" src="../lib/utils.js"></script>
<script type="text/javascript" src="../lib/template.js"></script>
<script type="text/javascript" src="../lib/template.helper.js"></script>
<script type="text/javascript" src="../lib/code-prettify/prettify.js"></script>
<script type="text/javascript" src="../lib/editor/editor.js"></script>
<script type="text/javascript" src="../lib/editor/marked.js"></script>

<script type="text/javascript" src="../lib/storage.js"></script>
<script type="text/javascript" src="../lib/logout.js"></script>
<script type="text/javascript" src="../lib/messageRemind.js"></script>
<script type="text/javascript" src="../lib/linkHref.js"></script>
<script type="text/javascript" src="../lib/topicInfo.js"></script>

<script type="text/javascript">
$(function() {
    TOPICINFO.initPage();
});
</script>
</body>
</html>