<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户信息</title>
    <link rel="stylesheet" type="text/css" href="../style/core.css">
</head>
<body>
<!-- navbar -->
<div class="navbar">
    <div class="nav-container">
        <a href="#" class="logo">
            <img src="../img/cnodejs_light.svg">
        </a>
        <ul>
            <li><a href="index.html">首页</a></li>
            <li><a href="message.html">未读消息<span class="unread-message js-unReadMessage">0</span></a></li>
            <li><a href="userInfo.html">我的信息</a></li>
            <li><a href="collection.html">收藏夹</a></li>
            <li><a href="createTopic.html">创建话题</a></li>
            <li><a href="#" id="logout">退出</a></li>
        </ul>
    </div>
</div>

<!-- main -->
<div class="main">
    <div class="user-info">
        <div class="header">
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">主页</a>
                    <span class="divider">/</span>
                </li>
                <li class="active">用户信息</li>
            </ul>
        </div>
        <div class="user-panel">
        </div>
    </div>
    <div class="create-topic">
        <div class="header">
            <span>最近创建的话题</span>
        </div>
        <div class="topic-list" id="createTopic">
            <p>无话题</p>
        </div>
    </div>
    <div class="reply-topic">
        <div class="header">
            <span>最近回复的话题</span>
        </div>
        <div class="topic-list" id="replyTopic">
            <p>无话题</p>
        </div>
    </div>
</div>

<!-- footer -->
<div class="footer" id="footer">
    <div class="footer-main">
        <div class="links">
            <a href="#" class="dark">RSS</a>
            |
            <a href="#" class="dark">源码地址</a>
        </div>
        <div class="col-fade">
            <p>CNode 社区为国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>
            <p>服务器赞助商为
                <a href="http://www.ucloud.cn/?utm_source=zanzhu&utm_campaign=cnodejs&utm_medium=display&utm_content=yejiao&ytag=cnodejs_logo" target="_blank" class="sponsor_outlink" data-label="ucloud_bottom">
                    <img src="https://dn-cnode.qbox.me/FuIpEaM9bvsZKnQ3QfPtBHWQmLM9" title="ucloud" alt="ucloud" width="92px">
                </a>
                ，存储赞助商为
                <a href="http://www.qiniu.com/?ref=cnode" target="_blank" class="sponsor_outlink" data-label="qiniu_bottom">
                    <img src="https://dn-cnode.qbox.me/Fg0jtDIcTqVC049oVu5-sn6Om4NX" title="七牛云存储" alt="七牛云存储" width="115px">
                </a>
                ，由
                <a href="https://alinode.aliyun.com/?ref=cnode" target="_blank" class="sponsor_outlink" data-label="alinode_bottom">
                    <img src="https://dn-cnode.qbox.me/FpMZk31PDyxkC8yStmMQL4XroaGD" title="alinode" alt="alinode" height="54px" width="166px">
                </a>
                提供应用性能服务。
            </p>
            <p>新手搭建 Node.js 服务器，推荐使用无需备案的 <a href="https://www.digitalocean.com/?refcode=eba02656eeb3">DigitalOcean(https://www.digitalocean.com/)</a></p>
        </div>
    </div>
</div>

<script type="text/html" id="userInfoTemplate">
<div class="avatar js-userInfoLink" data-loginName="{{loginname}}">
    <img src="{{avatar_url | avatar}}">
</div>
<div class="info">
    <p><span>用户名 : </span><em>{{loginname}}</em></p>
    <p><span>积分 : </span><em>{{score}}</em></p>
    <p><span>注册时间 : </span><em>{{create_at | timeSep}}</em></p>
</div>
</script>

<script type="text/html" id="createTopicTemplate">
{{each recent_topics as value i}}
<div class="cell">
    <a href="#" class="user-avatar js-userInfoLink" data-loginName="{{value.author.loginname}}">
        <img src="{{value.author.avatar_url | avatar }}" title="{{value.author.loginname}}">
    </a>
    <span class="last-time">
        <span class="last-active-time">{{value.last_reply_at | timeSep}}</span>
    </span>
    <div class="topic-title-wrapper">
        <a class="topic-title left-15" href="#" title="{{value.title}}" data-id="{{value.id}}">
            {{value.title}}
        </a>
    </div>
</div>
{{/each}}
</script>

<script type="text/html" id="replyTopicTemplate">
{{each recent_replies as value i}}
<div class="cell">
    <a href="#" class="user-avatar js-userInfoLink" data-loginName="{{value.author.loginname}}">
        <img src="{{value.author.avatar_url | avatar }}" title="{{value.author.loginname}}">
    </a>
    <span class="last-time">
        <span class="last-active-time">{{value.last_reply_at | timeSep}}</span>
    </span>
    <div class="topic-title-wrapper">
        <a class="topic-title left-15" href="#" title="{{value.title}}" data-id="{{value.id}}">
            {{value.title}}
        </a>
    </div>
</div>
{{/each}}
</script>

<script type="text/javascript" src="../lib/jquery.min.js"></script>
<!-- 固定footer至页面底部 -->
<script type="text/javascript" src="../lib/fixedFooter.js"></script>

<script type="text/javascript" src="../lib/template.js"></script>
<script type="text/javascript" src="../lib/template.helper.js"></script>

<script type="text/javascript" src="../lib/storage.js"></script>
<script type="text/javascript" src="../lib/logout.js"></script>
<script type="text/javascript" src="../lib/messageRemind.js"></script>
<script type="text/javascript" src="../lib/linkHref.js"></script>
<script type="text/javascript" src="../lib/utils.js"></script>
<script type="text/javascript" src="../lib/userInfo.js"></script>

<script type="text/javascript">
$(function() {
    USERINFO.initPage();
});
</script>
</body>
</html>