<div class="main" ng-controller="topicListCtrl">
    <div class="top-navbar">
        <div class="tabs">
            <span class="tab-item" ng-class="{selected: topicList.tab == 'all'}" ng-click="topicList.changeTab('all')">全部</span>
            <span class="tab-item" ng-class="{selected: topicList.tab == 'good'}" ng-click="topicList.changeTab('good')">精华</span>
            <span class="tab-item" ng-class="{selected: topicList.tab == 'share'}" ng-click="topicList.changeTab('share')">分享</span>
            <span class="tab-item" ng-class="{selected: topicList.tab == 'ask'}" ng-click="topicList.changeTab('ask')">问答</span>
            <span class="tab-item" ng-class="{selected: topicList.tab == 'job'}" ng-click="topicList.changeTab('job')">招聘</span>
            <span class="tab-item" ng-class="{selected: topicList.tab == 'dev'}" ng-click="topicList.changeTab('dev')">测试</span>
            <span class="tab-item" ng-class="{selected: topicList.tab == 'collect'}" ng-click="topicList.changeTab('collect')">收藏夹</span>
        </div>
        <!--<div class="options">
            <span class="option-item">
                <i class="fa fa-angle-left"></i>
            </span>
            <span class="option-item">
                <i class="fa fa-angle-right"></i>
            </span>
            <span class="option-item" style="font-size: 17px;">
                <i class="fa fa-circle-o-notch"></i>
            </span>
        </div>-->
    </div>
    <div class="content" id="topicListContent">
        <div class="panel">
            <div class="list" 
                infinite-scroll="topicList.nextPage()" 
                infinite-scroll-disabled='topicList.busy' 
                infinite-scroll-distance='1'
                infinite-scroll-container="'#topicListContent'">
                <div class="item" ng-repeat="topic in topicList.items">
                    <div class="item-left-part">
                        <a ui-sref="main.userInfo({ loginname: topic.author.loginname })">
                            <img ng-src="{{topic.author.avatar_url | imgFix}}">
                        </a>
                    </div>
                    <div class="item-right-part">
                        <p class="title"><a ui-sref="main.topicInfo({topicId: topic.id})" ng-bind="topic.title"></a></p>
                        <div class="status">
                            <span class="status-item">
                                <i class="fa fa-envelope-o"></i>
                                <em ng-bind="topic.reply_count"></em>
                                <span>Replies</span>
                            </span>
                            <span class="status-item">
                                <i class="fa fa-eye"></i>
                                <em ng-bind="topic.visit_count"></em>
                                <span>Views</span>
                            </span>
                        </div>
                        <div class="topic-list-active">
                            <div class="tags">
                                <span class="tag-item special" ng-if="topic.top">置顶</span>
                                <span class="tag-item special" ng-if="topic.good">精华</span>
                                <span class="tag-item" ng-if="topic.tab != undefined && topic.tab != ''" ng-bind="topic.tab | topicTabFormatter"></span>
                            </div>
                            <span class="date" ng-bind="topic.last_reply_at | fromNow"></span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>