html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-container {
    min-height: 100%;
    height: auto !important;
    height: 100%;

    position: relative; // .loading的容器
}

.main {
    padding-bottom: 210px; // footer高度 + 20px
    margin-bottom: 0 !important; // 取消margin-bottom 防止页面超出高度100vh
}

.footer {
    position: relative;
    margin-top: -190px; //等于footer的高度
    height: 190px;
    clear:both;

    z-index: -1;
}

p.no-content {
    padding: 15px;
    font-size: 14px;
}

.loading {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;

    .loading-container {
        background: #fff;
        height: 100%;
        
        .global-loading-text {
            display: inline-block;
            height: 30px;
            font-size: 30px;
            line-height: 30px;
            color: #177198;

            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: 20px;
            margin-left: -60px;

        }

        .global-loading {
            font-size: 60px;
            color: #5fc1ec;

            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -30px;
            margin-left: -30px;

            -webkit-animation: rotating 1s linear infinite;
            animation: rotating 1s linear infinite;
            @keyframes rotating {
                0% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(1turn);
                    transform: rotate(1turn);
                }
            }
        }
    }
}

.toast {
    height: 80px;
    width: 300px;
    background: #000;
    border-radius: 5px;
    opacity: .5;
    color: #b9b1b1;

    position: fixed;
    top: 70%;
    left: 50%;
    margin-left: -150px;
    margin-top: -40px;

    display: none; // 初始化为不见
    
    .icon-area,
    .message-area {
        float: left;
        height: 80px;
        line-height: 80px;
    }

    .icon-area {
        width: 30%;
        text-align: center;
    }

    .message-area {
        width: 70%;
        font-size: 25px;
    }

    .global-toast {
        font-size: 50px;
    }
}