.main {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
    .content {
        float: left;
        width: 70%;
        background-color: #fff;
        border-radius: 3px;
        .header {
            padding: 10px;
            background-color: #f6f6f6;
            border-radius: 3px 3px 0 0;
            .breadcrumb {
                list-style: none;
                box-shadow: none;
                border-radius: 4px;
                padding: 0;
                margin: 0;
                border: none;
                background: 0 0;
                > li {
                    margin: 0;
                    line-height: 20px;
                    display: inline-block;
                    text-shadow: none;
                    a {
                        text-decoration: none;
                        color: #80bd01;
                    }
                    .divider {
                        padding: 0 5px;
                        color: #ccc;
                    }
                    &.active {
                        color: #999;
                    }
                }
            }
        }
        .topic-info {
            height: 60px;
            .title {
                height: 40px;
                line-height: 40px;
                padding-left: 15px;
                * {
                    vertical-align: middle;
                }
                .title-tab {
                    font-size: 12px;
                    padding: 3px;
                    border-radius: 2px;
                    background-color: #80bd01;
                    color: #fff;
                }
                .title-text {
                    font-size: 22px;
                    font-weight: 700;
                    margin-left: 5px;
                }
                input {
                    float: right;
                    border: none;
                    display: inline-block;
                    margin-right: 20px;
                    margin-top: 10px;
                    border-radius: 3px;
                    background-color: #80bd01;
                    color: #fff;
                }
            }
            .sub-info {
                height: 20px;
                padding-left: 20px;
                font-size: 12px;
                color: #838383;
                span {
                    margin-right: 10px;
                }
            }
        }
    }
}




/* ----以下的CSS待整理---- */
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: 700;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

h1, h2, h3 {
    line-height: 40px;
}

.inner.topic {
    padding: 10px;
    border-top: 1px solid #e5e5e5;
    border-radius: 0 0 3px 3px;
}

.markdown-text a {
    text-decoration: none;
    color: #08c;
}

.markdown-text a:hover {
    text-decoration: underline;
    color: #08c;
}

.topic_content {
    margin: 0 10px;
}

.markdown-text ul, .markdown-text li {
    list-style: disc;
}

.markdown-text li, .preview li {
    font-size: 14px;
    line-height: 2em;
}

.markdown-text p, .preview p {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    line-height: 2em;
    margin: 1em 0;
}

.preview p, .reply_content p, .reply_form p, .topic_content p {
    font-size: 15px;
    line-height: 1.7em;
    overflow: auto;
}

.markdown-text>:first-child, .preview>:first-child {
    margin-top: 0;
}

.preview h1, .preview h2, .preview h3, .preview h4, .preview h5, .preview h6, .reply_area h1, .reply_area h2, .reply_area h3, .reply_area h4, .reply_area h5, .reply_area h6, .topic_content h1, .topic_content h2, .topic_content h3, .topic_content h4, .topic_content h5, .topic_content h6 {
    margin: 30px 0 15px;
    border-bottom: 1px solid #eee;
}

.topic_content h2 {
    font-size: 26px;
}


address, blockquote small, pre {
    line-height: 20px;
    display: block;
}

code, pre {
    padding: 0 3px 2px;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 12px;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

pre {
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

pre {
    background: #fee9cc;
    border: 1px dashed #ccc;
    line-height: 22px;
}

address, dl, legend, pre.prettyprint {
    margin-bottom: 20px;
}

pre.prettyprint {
    padding: 2px;
    border: 1px solid #888;
}

div pre.prettyprint {
    font-size: 14px;
    border-radius: 0;
    padding: 0 15px;
    border: none;
    margin: 20px -10px;
    border-width: 1px 0;
    background: #f7f7f7;
}

code {
    padding: 2px 4px;
    color: #d14;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}


code {
    padding: 0;
    border: none;
}

pre, pre code {
    white-space: pre;
}



fieldset, legend, pre code {
    padding: 0;
    border: 0;
}

pre code {
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
}