.new-message {
    margin-bottom: 10px;
}

.message-list {
    background-color: #fff;

    .cell {
        border-top: 1px #f0f0f0 solid;
        line-height: 1.5em;
        padding: 10px;
        font-size: 14px;
        a {
            text-decoration: none;
            color: #08c;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.no-message {
    padding: 10px;
    padding-bottom: 20px;
    font-size: 14px;
}
