.user-info,
.create-topic,
.reply-topic {
    margin-bottom: 10px;
}

.left-15 {
    margin-left: 15px;
}

.user-info {
    background-color: #fff;
    .avatar {
        cursor: pointer;
        padding: 10px;
        img {
            height: 48px;
            width: 48px;
            border-radius: 3px;
        }
    }
    .info {
        font-size: 14px;
        font-weight: normal;
        padding: 10px;
        line-height: 1.5em;
    }
}

