.user-info,
.create-topic,
.reply-topic {
    margin-bottom: 10px;
}

.topic-list {
    background-color: #fff;
    p {
        margin-left: 10px;
        padding: 10px;
        line-height: 2em;
        font-size: 16px;
    }
    .cell {
        position: relative;
        padding: 10px;
        font-size: 14px;
        background-color: #fff;
        height: 30px;
        border-top: 1px solid #f0f0f0;
        &:nth-child(1) {
            border-top: none;
        }
        &:hover {
            background-color: #f5f5f5;
        }
        .user-avatar {
            float: left;
            img {
                width: 30px;
                height: 30px;
                border-radius: 3px;
            }
        }
        .reply-count {
            float: left;
            width: 70px;
            display: inline-block;
            text-align: center;
            .count-of-reply {
                color: #9e78c0;
            }
            .count-seperator {
                margin:0 -3px;
                font-size: 10px;
            }
            .count-of-visit {
                font-size: 10px;
                color: #b4b4b4;
            }
        }
        .last-time {
            float: right;
            font-size: 11px;
            display: inline-block;
            margin-left: 20px;
            color: #777;
            .user-small-avatar {
                height: 18px;
                width: 18px;
                vertical-align: middle;
                margin-right: .5em;
                border-radius: 3px;
            }
            .last-active-time {
                text-align: right;
                min-width: 50px;
                display: inline-block;
                white-space: nowrap;
            }
        }
        .topic-title-wrapper {
            white-space: nowrap;
            span {
                background-color: #e5e5e5;
                color: #999;
                padding: 2px 4px;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -o-border-radius: 3px;
                font-size: 12px;
                &.put-top {
                    background-color: #80bd01;
                    color: #fff;
                }
                &.put-good {
                    background-color: #80bd01;
                    color: #fff;
                }
            }
            a {
                text-decoration: none;
                max-width: 70%;
                // 太长的标题将被裁剪
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                display: inline-block;
                vertical-align: middle;
                font-size: 16px;
                line-height: 30px;
                color: #333;
                &:hover {
                    text-decoration: underline;
                }
                &:visited {
                    color: #888;
                }
            }
        }
    }
}

.left-15 {
    margin-left: 15px;
}

.user-info {
    background-color: #fff;
    .avatar {
        padding: 10px;
        img {
            height: 48px;
            width: 48px;
            border-radius: 3px;
        }
    }
    .info {
        font-size: 14px;
        font-weight: normal;
        padding: 10px;
        line-height: 1.5em;
    }
}

